.navbar {
   .navbar__wrap {
      margin-top: 11px;
      display: flex;
      justify-content: space-between;
      a {
         width: 217px;
         height: 34px;
         background: $jupiter-red;
         cursor: pointer;
         display: flex;
         justify-content: center;
         align-items: center;
         text-decoration: none;
         font-weight: 500;
         font-size: 14px;
         color: white;
         .navbar__small-text {
            display: none;
         }
      }
   }
}

@media (max-width: 1024px) {
   .navbar {
      .navbar__wrap {
         a {
            width: 126px;
            font-size: 14px;
            overflow: hidden;
            .navbar__small-text {
               display: block;
            }
            .navbar__big-text {
               display: none;
            } 
         }
      }
   }
}