.slider {
   .container {
      /*margin: 0 auto;
      margin-top: 22px;
      position: relative;
      max-width: 1336px;
      max-height: 358px;
      */

      //display: flex;
      //justify-content: space-between;
      //top: 45%;
      //width: 100%;
      //height: 100%;
      .btn-left,
      .btn-right {
         //position: absolute;
         cursor: pointer;
         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
         //width: 3.6%;
         //height: 12.6%;
         top: 47%;
         img {
            //width: 100%;
            //height: 100%;
         }
      }
      .btn-right {
         right: 0%;
      }
      .slider__dots-wrapper {
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 0;
         margin: 0;
         margin-top: 10px;
         li {
            list-style: none;
            margin: 0 10px;
            button {
               cursor: pointer;
               font-size: 0;
               width: 15px;
               height: 15px;
               background-color: rgba(0, 0, 0, 0.3);
               border-radius: 50%;
               border: none;
               outline: none;
            }
         }
         .slick-active {
            button {
               background-color: $jupiter-red;
            }
         }
      }
      .slider__track {
         margin-top: 22px;
         .slider__item {
            max-width: 1306px;
            max-height: 358px;
            position: relative;
            img {
               max-width: 100%;
            }
            .slider__text {
               color: white;
               position: absolute;
               top: 78.5%;
               left: 3.3%;
               h1 {
                  font-weight: 600;
                  font-size: 16px;
                  margin: 0;
               }
               span {
                  display: block;
                  margin-top: 3px;
                  font-size: 14px;
               }
            }
         }
      }
   }
}

@media (max-width: 1024px) {
   .slider {
      .slider__container {
         .slider__track {
            .slider__item {
               .slider__text {
                  h1 {
                     font-size: 14px;
                  }
                  span {
                     font-size: 12px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .slider {
      .container {
         .btn-left,
         .btn-right {
            display: none;
         }
         .slider__track {
            margin-top: 18px;
            .slider__item {
               .slider__text {
                  top: 75%;
                  h1 {
                     font-size: 12px;
                  }
                  span {
                     font-size: 10px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 426px) {
   .slider {
      .container {
         .slider__track {
            margin-top: 82px;
            .slider__item {
               .slider__text {
                  top: 70%;
                  h1 {
                     font-size: 10px;
                  }
                  span {
                     font-size: 8px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 376px) {
   .slider {
      .container {
         .slider__track {
            .slider__item {
               .slider__text {
                  top: 65%;
               }
            }
         }
      }
   }
}

@media (max-width: 320px) {
   .slider {
      .container {
         .slider__track {
            .slider__item {
               .slider__text {
                  top: 60%;
               }
            }
         }
      }
   }
}
